<mat-card>
  <mat-form-field style="width: 80%;">
    <mat-label>Component Name</mat-label>
    <input matInput type="text" [(ngModel)]="value">
  </mat-form-field>
  <button mat-stroked-button style="float: right;" (click)="addComponent()" [disabled]="!value">Add</button>
  <mat-list role="list" *ngIf="componentList.length>0">
    <mat-list-item role="listitem" *ngFor="let component of componentList">
      <h4 mat-line>{{component.name}} </h4>
      <mat-icon style="cursor: pointer;" (click)="remove(component)">delete</mat-icon>
    </mat-list-item>
  </mat-list>
</mat-card>
